<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skycat.user.store.dao.UserStoreMapper">
  <resultMap id="BaseResultMap" type="com.skycat.user.store.entity.UserStore">
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="store_id" jdbcType="INTEGER" property="storeId" />
  </resultMap>
  <insert id="insert" parameterType="com.skycat.user.store.entity.UserStore">
    insert into user_store (user_id, store_id)
    values (#{userId,jdbcType=INTEGER}, #{storeId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.skycat.user.store.entity.UserStore">
    insert into user_store
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="storeId != null">
        store_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="storeId != null">
        #{storeId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>